@import "tailwindcss";

@theme {
    --font-inter: 'Inter', sans-serif;
}

:root {
    font-family: var(--font-inter);
    scroll-behavior: smooth;
}

body {
    @apply bg-black text-white antialiased;
}